<div class="form_item_block">
    <label>Artifactory URI:<span class="asterisk">*</span></label>
    <input type="text" ng-model="URI" />
    <span class="form_error" ng-show="GOINPUTNAME[URI].$error.server">{{ GOINPUTNAME[URI].$error.server }}</span>
    <div class="inline_instruction">e.g. repo-key/path/to/artifact (or repo-key/dir if there are multiple artifacts)</div>

    <!-- hack to make checkboxes work in Go Angular templates -->
    <input type="checkbox" ng-model="uriIsFolderTmp"
           ng-init="uriIsFolderTmp = uriIsFolder" ng-change="uriIsFolder = uriIsFolderTmp" ng-true-value="true" ng-false-value="false" />
    <input type="hidden" ng-model="uriIsFolder" value="{{ uriIsFolder }}">

    <label class="inline">URI denotes a folder</label>
</div>
<div class="form_item_block">
    <label>Artifact Path:<span class="asterisk">*</span></label>
    <input type="text" ng-model="Path"/>
    <span class="form_error" ng-show="GOINPUTNAME[Path].$error.server">{{ GOINPUTNAME[Path].$error.server }}</span>
    <div class="inline_instruction">Relative to working directory (<a
            href="http://docs.oracle.com/javase/7/docs/api/java/nio/file/FileSystem.html#getPathMatcher(java.lang.String)">globs</a>
        are allowed)
    </div>
</div>
<div class="form_item_block">
    <label>Build properties:</label>
    <textarea class="form_input code_text" cols="50" rows="5" wrap="off" ng-model="Properties"></textarea>

    <div class="inline_instruction">A key=value pair on each line</div>
    <span class="form_error"
          ng-show="GOINPUTNAME[Properties].$error.server">{{ GOINPUTNAME[Properties].$error.server }}</span>
</div>