<div class="form_item_block">
    <label>Artifactory URL:<span class="asterisk">*</span></label>
    <input type="text" ng-model="url" />
    <span class="form_error" ng-show="GOINPUTNAME[url].$error.server">{{ GOINPUTNAME[url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Artifact Path:<span class="asterisk">*</span></label>

    <input type="text" ng-model="path" />
    <span class="form_error" ng-show="GOINPUTNAME[path].$error.server">{{ GOINPUTNAME[path].$error.server }}</span>
</div>